 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #B37998;
active-foreground: #DFE1F2;
normal-background: #202125;
normal-foreground: #DFE1F2;
urgent-background: #B37998;
urgent-foreground: #DFE1F2;

alternate-active-background: #545880;
alternate-active-foreground: #DFE1F2;
alternate-normal-background: #202125;
alternate-normal-foreground: #DFE1F2;
alternate-urgent-background: #202125;
alternate-urgent-foreground: #DFE1F2;

selected-active-background: #B37998;
selected-active-foreground: #DFE1F2;
selected-normal-background: #B37998;
selected-normal-foreground: #DFE1F2;
selected-urgent-background: #B37998;
selected-urgent-foreground: #DFE1F2;

background-color: #202125;
background: rgba(0,0,0,0.7);
foreground: #DFE1F2;
border-color: #B37998;

color0: #46484C;
color1: #101927;
color2: #3F4260;
color3: #3F4260;
color4: #865B72;
color5: #865B72;
color6: #7A80A3;
color7: #C8CCE4;
color8: #8C8F9F;
color9: #152234;
color10: #545880;
color11: #545880;
color12: #B37998;
color13: #B37998;
color14: #A3AAD9;
color15: #C8CCE4;


}

