 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #B5AD57;
active-foreground: #F8F6F0;
normal-background: #000101;
normal-foreground: #F8F6F0;
urgent-background: #98B3BD;
urgent-foreground: #F8F6F0;

alternate-active-background: #276CA4;
alternate-active-foreground: #F8F6F0;
alternate-normal-background: #000101;
alternate-normal-foreground: #F8F6F0;
alternate-urgent-background: #000101;
alternate-urgent-foreground: #F8F6F0;

selected-active-background: #98B3BD;
selected-active-foreground: #F8F6F0;
selected-normal-background: #98B3BD;
selected-normal-foreground: #F8F6F0;
selected-urgent-background: #B5AD57;
selected-urgent-foreground: #F8F6F0;

background-color: #000101;
background: rgba(0,0,0,0.7);
foreground: #F8F6F0;
border-color: #B5AD57;

color0: #000101;
color1: #26383B;
color2: #1E5077;
color3: #1D517B;
color4: #888241;
color5: #72868E;
color6: #B1AC9F;
color7: #EDEAE1;
color8: #A6A39E;
color9: #334B4F;
color10: #286A9F;
color11: #276CA4;
color12: #B5AD57;
color13: #98B3BD;
color14: #ECE5D4;
color15: #EDEAE1;


}

