 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #2384A2;
active-foreground: #F3D4D1;
normal-background: #1D1D1F;
normal-foreground: #F3D4D1;
urgent-background: #238BAA;
urgent-foreground: #F3D4D1;

alternate-active-background: #A13F7E;
alternate-active-foreground: #F3D4D1;
alternate-normal-background: #1D1D1F;
alternate-normal-foreground: #F3D4D1;
alternate-urgent-background: #1D1D1F;
alternate-urgent-foreground: #F3D4D1;

selected-active-background: #238BAA;
selected-active-foreground: #F3D4D1;
selected-normal-background: #238BAA;
selected-normal-foreground: #F3D4D1;
selected-urgent-background: #2384A2;
selected-urgent-foreground: #F3D4D1;

background-color: #1D1D1F;
background: rgba(0,0,0,0.7);
foreground: #F3D4D1;
border-color: #2384A2;

color0: #434346;
color1: #173949;
color2: #34425F;
color3: #792F5E;
color4: #1A6379;
color5: #1A6880;
color6: #A5625D;
color7: #E5B9B5;
color8: #A0817F;
color9: #1E4D61;
color10: #46587F;
color11: #A13F7E;
color12: #2384A2;
color13: #238BAA;
color14: #DC837C;
color15: #E5B9B5;


}

